@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.about-li {
    font-size: 1.25em;
    margin: 0.5em 0;
    font-family: 'Raleway', sans-serif;
}

.about-li .text-lg{
    font-size: 1em
}

.about-li h2 {
    color: rgb(89, 51, 170);
    font-weight: bold;
}